/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: black;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: black;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* http://www.w3.org/TR/CSS2/sample.html */
li {
  display: list-item;
  margin: 0.5em 0;
}

head {
  display: none;
}

table {
  display: table;
}

tr {
  display: table-row;
}

thead {
  display: table-header-group;
}

tbody {
  display: table-row-group;
}

tfoot {
  display: table-footer-group;
}

col {
  display: table-column;
}

colgroup {
  display: table-column-group;
}

td, th {
  display: table-cell;
}

caption {
  display: table-caption;
}

th {
  font-weight: bolder;
  text-align: center;
}

caption {
  text-align: center;
}

body {
  margin: 8px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}

h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}

h4, p, blockquote, ul, fieldset, form, ol, dl, dir, menu {
  margin: 1.12em 0;
}

h5 {
  font-size: .83em;
  margin: 1.5em 0;
}

h6 {
  font-size: .75em;
  margin: 1.67em 0;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: bold;
}

blockquote {
  margin-left: 40px;
  margin-right: 40px;
}

i, cite, em, var, address {
  font-style: italic;
}

pre, tt, code, kbd, samp {
  font-family: "Inconsolata";
}

pre {
  white-space: pre;
}

button, textarea, input, select {
  display: inline-block;
}

big {
  font-size: 1.17em;
}

small, sub, sup {
  font-size: 0.83em;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

table {
  border-spacing: 2px;
}

thead, tbody, tfoot {
  vertical-align: middle;
}

td, th, tr {
  vertical-align: inherit;
}

s, strike, del {
  text-decoration: line-through;
}

hr {
  border: 1px inset;
}

ol, ul, dir, menu, dd {
  margin-left: 40px;
}

ol {
  list-style-type: decimal;
}
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: square;
}
ul ol, ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

u, ins {
  text-decoration: underline;
}

br:before {
  content: "\A";
  white-space: pre-line;
}

center {
  text-align: center;
}

:link, :visited {
  text-decoration: underline;
}

:focus {
  outline: thin dotted invert;
}

/* Begin bidirectionality settings (do not change) */
BDO[DIR="ltr"] {
  direction: ltr;
  unicode-bidi: bidi-override;
}
BDO[DIR="rtl"] {
  direction: rtl;
  unicode-bidi: bidi-override;
}

*[DIR="ltr"] {
  direction: ltr;
  unicode-bidi: embed;
}
*[DIR="rtl"] {
  direction: rtl;
  unicode-bidi: embed;
}

/* http://www.w3.org/TR/CSS2/page.html */
body {
  color: black;
  font-family: "Merriweather";
  font-size: 10pt;
  line-height: 1.5;
  margin: 0;
  padding: 1cm;
}

a {
  text-decoration: none;
  color: black;
}
a:link, a:visited {
  text-decoration: none;
}
a:link:not([href^="#"]):after {
  color: #666666;
  font-family: "Open Sans";
  font-size: 0.8em;
  content: " (" attr(href) ") ";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
  page-break-after: avoid;
  margin: 1.5em 0 0.5em 0;
}

h1 {
  border-bottom: 2pt solid #cccccc;
  padding-bottom: 0.25em;
  margin-top: 1em;
  margin-bottom: 1em;
}
h1 a:link:after {
  display: none;
}

/** Don't show anchors in headers */
h2 a:link:after, h3 a:link:after, h4 a:link:after, h5 a:link:after, h6 a:link:after {
  display: none;
}

ul, ol, dl {
  page-break-before: avoid;
}

blockquote {
  font-style: italic;
}

figure {
  border: 1pt solid black;
  padding: 12pt;
  text-align: center;
}

figcaption {
  font-style: italic;
  color: #cccccc;
  clear: both;
}

table {
  width: 100%;
  margin: 1rem 0 0.5rem 0;
}

th, td {
  border: 1pt solid #cccccc;
  padding: 0.5rem;
}

tr:nth-child(2n) {
  background-color: #f8f8f8;
}
tr:last-child td, tr:last-child th {
  border-bottom-width: 1.5pt;
  border-bottom-color: #666666;
}

thead tr td, thead tr th {
  border-bottom-width: 1pt;
  border-bottom-color: #666666;
}

img {
  max-height: 150%;
}
